

* { margin: 0; padding: 0;}
body, html{
  border: 0;
  height: 100%;
  width: 100%;
}

.game-screen{
  position: relative;
  height: 100%;
  width: 100%;
}

.start-screen{
 margin-left:50%;
 margin-top:10%;
 width: 25vw;
 height: 25vw;
 transform: translateX(-50%);
}

button.start{
  margin-left:50%;
  width:20vw;
  height:3rem;
  transform: translateX(-50%);
  border-color: white;
  border-radius: 10px;
}
input.player-name{
  margin-left:50%;
  width:20vw;
  height:2rem;
  transform: translateX(-50%);
}

div.box{
  width: 25vw;
  background-color: rgb(114, 114, 114);
}

.player-commands{
  margin-left:120%;
}

.box p{
  margin-left:50%;
  color: white;
  text-align: center;
  font-weight: bold;
  transform: translateX(-50%);
}

.player-commands p {
  margin-left:0;
  width: 20vw;
  transform: translateX(10%);
}
.box h1{
  margin-left:50%;
  color: white;
  text-align: center;
  transform: translateX(-50%);
}

.game-screen canvas ,div {
  position: absolute;
}


.game-screen .start-screen{
  z-index: 10;
}

.hidden{
  visibility:hidden;
  opacity: 0;
}

.maxsize{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

